nav
    background-color: #12315a
    display: flex
    border: solid 3px
    justify-content: space-around

        
    ul
        display: flex
        border: solid 1px
        list-style: none
        text-decoration: none
        li
             border: solid 1px 
            margin-right: 20px
            text-decoration: none
        
        
    